<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherWeb</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://kit.fontawesome.com/7da47389fa.js" crossorigin="anonymous"></script>


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!--------------------- header  ---------------->
    {{>navbar}}
    <!------------------  nav-body -------------------->
    <div class="container-fluid nav-body">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!------------------  nav-body-left -------------------->
                    <div class="col-md-12 col-12 nav-body-left align-items-center">
                     
                        <figure class="err-image">
                            <img src="images/3.png" alt="error-img" class="img-fluid">
                        </figure>
                        <div class="err-text">
                        <h1>{{errormessage}}</h1>
                        <a href="/"><button>Go Back</button></a>
        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-------------- footer   -------------------->
    {{>footer}}
</body>

</html>

